<%- include("templates/header") %>

<h1>Welcome to Munyoung's Website</h1>
<button onclick="window.location.href='/createUser'">Sign up</button>
<br>
<button onclick="window.location.href='/login'">Log in</button>

<%- include("templates/footer") %>