<%- include("templates/header") %>
<body>
  <div class="container">
    <h1 class="display-5 fw-bold text-body-emphasis">Welcome to Munyoung's website</h1>
    <div class="text-center">
      <a class="btn btn-success rounded-pill px-3" href="/signup" role="button" style="margin-top: 30px; margin-bottom: 10px;">Sign up</a>
      <a class="btn btn-success rounded-pill px-3" href="/login" role="button" style="margin-top: 30px; margin-bottom: 10px;">Log in</a>
    </div>
  </div>
</body>
<%- include("templates/footer") %>
