<%- include("templates/header") %>
<head>
  <style>
    .bordered-column {
      border-style: dotted;
      border-width: 5px;
      border-color: yellowgreen;
      padding: 15px;
      gap: 2px;
    }
    .uniform-image {
      width: 250px;
      height: 250px;
      object-fit: cover;
      margin: auto;
    }
  </style>
</head>
<div class="container-fluid">
  <h1>Welcome to the Member's Area, <%= username %>!</h1>
</div>
<div class="container">
  <div class="row">
    <div class="col-sm-4 bordered-column">
      <img
        src="fluffy.gif"
        class="img-responsive uniform-image"
        alt="fluffy"
      />
    </div>
    <div class="col-sm-4 bordered-column">
      <img src="cat3.gif" class="img-responsive uniform-image" alt="cat3" />
    </div>
    <div class="col-sm-4 bordered-column">
      <img
        src="cat4.gif"
        class="img-responsive uniform-image"
        alt="cat4"
      />
    </div>
  </div>
  <div class="row">
    <div class="col-sm-4 bordered-column">
      <img
        src="Cute.gif"
        class="img-responsive uniform-image"
        alt="Cute cat"
      />
    </div>
    <div class="col-sm-4 bordered-column">
      <img src="Cookie.gif" class="img-responsive uniform-image" alt="Cookie" />
    </div>
    <div class="col-sm-4 bordered-column">
      <img
        src="Yay.gif"
        class="img-responsive uniform-image"
        alt="Yay"
      />
    </div>
  </div>
</div>

<div class="container-fluid" style="padding-top: 50px; padding-bottom: 30px;">
  <a
    class="btn btn-success"
    href="/"
    role="button"
    style="margin: auto; padding: 10px; font-size: 20px"
    >Home</a
  >
  <a
    class="btn btn-success"
    href="/logout"
    role="button"
    style="margin: auto; padding: 10px; font-size: 20px"
    >Log out</a
  >
</div>
<%- include("templates/footer") %>